<div class="container">
  <form class="row g-3">
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Nombre</label>
      <input
        type="text"
        placeholder="Nombre"
        class="form-control is-valid"
        id="validationServer01"
        value=""
        required
      />
    </div>
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Empresa</label>
      <input
        type="text"
        placeholder="Empresa"
        class="form-control is-valid"
        id="validationServer01"
        value=""
        required
      />
    </div>
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Email</label>
      <input
        type="email"
        placeholder="name@example.com"
        class="form-control is-valid"
        id="validationServer01"
        value=""
        required
      />
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>
