<div
  class="container d-flex justify-content-end align-items-center"
  style="height: 100vh"
>
  <nav class="nav flex-column border-left">
    <a class="nav-link active text-dark" aria-current="page" href="#">Inicio</a>
    <a class="nav-link text-dark" href="#">Educación</a>
    <a class="nav-link text-dark" href="#">Sobre mí</a>
    <a class="nav-link text-dark" href="#">FAQs</a>
    <a class="nav-link text-dark" href="#">Trabajar juntos</a>
    <a class="nav-link text-dark" href="">Contacto</a>
  </nav>
  <router-outlet />
</div>
