* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  margin: 50px;
  display: flex;
}

.contenido {
  border: 1px solid #000;
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegador {
  border-left: 1px solid black;
  padding: 40px;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
