.container {
  margin: 100px;
  display: flex;
}
.contenido {
  border: 1px solid #000;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.navegador {
  border: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
